@media screen and (max-width: 1279px) {
  svg.bubbles {
    margin-top: 1rem !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 2em 1em;
}

@media screen and (max-width: 970px) {
  .grid {
    grid-template-columns: unset;
  }
}

.disable {
  cursor: not-allowed !important;
  color: gray !important;
}

.disable:hover {
  filter: unset !important;
}

.wrong {
  background-color: red;
  color: white;
}

.correct {
  background-color: green;
  color: white;
}

.hide {
  display: none;
}

@media only screen and (min-width: 1080px) {
  .gridd {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 70% 30%;
  }
  .hide {
    display: block;
  }
}
