@media screen and (max-width: 1279px) {
  svg.bubbles {
    margin-top: 1rem !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 2em 1em;
}

@media screen and (max-width: 970px) {
  .grid {
    grid-template-columns: unset;
  }
}
